@model IEnumerable<final.Views.Shared.projectss>

@{
    ViewBag.Title = "Index";
}
<div style="color:white">
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Repsository)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.collabs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Repsository)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.collabs)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectID })
        </td>
    </tr>
}

</table>
</div>